@model IEnumerable<Labb4Razor.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm("Index", "Customers", FormMethod.Get))
{
    <div class="form-group">
        @Html.Label("Search by Customer ID:")
        @Html.TextBox("customerId", null, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerFavouriteBook)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerAge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerFavouriteBook)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
